<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/cloud.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Live Weather using API usage.</p>
            <img class="weather-img" src="/img/weather.png">
        </div>
        {{>footer}}
    </body>
</html>